<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kho ảnh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

    <nav>
        <a href="/">Trang chủ</a>
        <a href="/history">Lịch sử và Ý nghĩa</a>
        <a href="/tributes">Lời tri ân</a>
        <a href="/teachers">Gương mặt nhà giáo</a>
        <a href="/activities">Hoạt động chào mừng</a>
        <a href="/gallery">Thư viện ảnh/video</a>
     </nav>

<img src="C:\Users\ChiTQ\Downloads\teacher2.jpg"; width="800";style="border: 5px solid black; border-radius: 10px; align=center">
<img src="C:\Users\ChiTQ\Downloads\teacher.jpeg"; width="800";style="border: 5px solid black; border-radius: 10px; align=center">    
<img src="C:\Users\ChiTQ\Downloads\random.jpg"; width="800";style="border: 5px solid black; border-radius: 10px; align=center">

</head>
</html>