<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Ngày Nhà giáo Việt Nam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1 style="text-align: center;">Chào mừng đến với Ngày Nhà giáo Việt Nam 20/11</h1>
    <nav>
        <a href="/">Trang chủ</a>
        <a href="/history">Lịch sử và Ý nghĩa</a>
        <a href="/tributes">Lời tri ân</a>
        <a href="/teachers">Gương mặt nhà giáo</a>
        <a href="/activities">Hoạt động chào mừng</a>
        <a href="/gallery">Thư viện ảnh/video</a>
    </nav>
    <p style="text-align:center;">Chào mừng bạn đến với trang web tri ân thầy cô!</p>

    <img src="/static/random.jpg" width="800"
        ;style="border: 5px solid black; border-radius: 10px; margin: 0 auto; align-items: center;  ">


    <footer align="center">
        <p>All works are fictional, not based on anything real.</p>
    </footer>
</body>

</html>